/* CSS reset */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  margin: 10px auto;
  background: linear-gradient(135deg, #001827, #001d30); /* Gradiente Laranja e Amarelo */
}

a {
  text-decoration: none;
}

/* hide links from screen */
a.links {
  display: none;
}

/* content containing forms */
.content {
  width: 500px;
  margin: 0 auto;
  position: relative;
  background-color: #400101;
}

/* formatting form headers */
img {
  width: 150px;
  height: 150px;
}

h1 {
  font-size: 48px;
  color: #400101;
  padding: 10px 0 30px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

h1:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
  background: linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
}

p {
  margin-bottom: 15px;
}

p:first-child {
  margin: 0;
}

label {
  color: #405c60;
  position: relative;
}

/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder {
  color: #bebcbc;
  font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #bebcbc;
  font-style: italic;
}

input {
  outline: none;
}

input:not([type="checkbox"]) {
  width: 95%;
  margin-top: 4px;
  padding: 10px;
  border: 1px solid #b2b2b2;
  border-radius: 3px;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  transition: all 0.2s linear;
}

/* submit button style */
input[type="submit"] {
  width: 100% !important;
  cursor: pointer;
  background: #400101;
  padding: 8px 5px;
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  margin-bottom: 10px;
  text-shadow: 0 1px 1px #333;
  border-radius: 5px;
  transition: all 0.2s linear;
}

input[type="submit"]:hover {
  background: #814d4d;
}

/* styling links to switch between forms */
.link {
  position: absolute;
  background: #e1eaeb;
  color: #7f7c7c;
  left: 0;
  height: 20px;
  width: 440px;
  padding: 17px 30px 20px;
  font-size: 16px;
  text-align: right;
  border-top: 1px solid #dbe5e8;
  border-radius: 0 0 5px 5px;
}

.link a {
  font-weight: bold;
  background: #f7f8f1;
  padding: 6px;
  color: #400101;
  margin-left: 10px;
  border: 1px solid #814d4d;
  border-radius: 4px;
  transition: all 0.4s linear;
}

.link a:hover {
  color: #814d4d;
  background: #f7f7f7;
  border: 1px solid #400101;
}

/* styles for both forms */
#cadastro,
#login {
  position: absolute;
  top: 0;
  width: 88%;
  padding: 18px 6% 60px;
  margin: 0 0 35px;
  background: rgb(247, 247, 247);
  border: 1px solid rgba(147, 184, 189, 0.8);
  box-shadow: 5px;
  border-radius: 5px;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

#paracadastro:target~.content #cadastro,
#paralogin:target~.content #login {
  z-index: 2;
  animation-name: fadeInLeft;
  animation-delay: .1s;
}

#registro:target~.content #login,
#paralogin:target~.content #cadastro {
  animation-name: fadeOutLeft;
}

/* fadeInLeft */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* fadeOutLeft */
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}
